# \[PY02\] Introduction to Python Programming - Problems

## Sequences: Lists, Tuples and dictionaries

**Author:** Philip Wilkinson, Head of Science (21/22), UCL DSS

**Date:** 04 Aug 2021

***Proudly presented by the UCL Data Science Society***

This notebook presents several challenges for you to solve on your own based on the information provided in the workshops and your own googling. The first few challenges require you to fill in blanks given already prepared code. The later few challenges require you to create code completely on your own. Solutions to these challenges can be found in the [Solutions.ipynb](../Solutions.ipynb) notebook.

The challenges are given as:

## [Challenge 1](#CH1)

## [Challenge 2](#CH2)

## [Challenge 3](#CH3)

## [Challenge 4](#CH4)

## [Challenge 5](#CH5)

## [Challenge 6](#CH6)

Good luck!

<a id = "CH1"></a>

## Challenge 1

Fill in the code blocks to answer the questions about lists:

In [ ]:
countries = ["China", "America", "Argentina", "Spain", "Australia", "New Zealand", "South Africa"]

#print out Argentina from countries
print(countries[??])

#print out America to Australia from countries
print(countries[??])

#print out New Zealand using negative indexing
print(countries[??])

#combine positive and negative indexing to print out Argentina to New Zealand
print(countries[??])

#replace Argentina with Brazil and print it out
countries[??] = ??
print(countries[??])

#find the index for Spain
Spain_index = countries.??("Spain")
print(Spain_index)

<a id = "CH2"></a>

## Challenge 2

Fill in the code blocks to answer the questions about dictionaries:

In [ ]:
data_scientist = {"Name":"Jessica",
                 "Age":32,
                 "Degree":"Languages",
                 "Company":"Microsoft",
                 "Languages":["Python", "SQL", "Javascript", "R"],
                 "Salary":40_000,
                 "Experience":4}

#print out the Data Scientists Name
print(data_scientist[??])

#print out the data scientists age
print(data_scientist[??])

#print out the data scientists third language
print(data_scientist[??][??])

#Change the data scientists years of experience to 5
data_scientist[??] = ??
print(data_scientist[??])

#print out all the keys from the dictionary
print(data_scientist.??)

<a id = "CH3"></a>

## Challenge 3

Fill in the code blocks to answer the questions about sets and tuples:

In [ ]:
# create a set of car manufacturers
cars = ??"Ford", "Kia", "Ferrari", "Mercedes", "Tesla", "Honda"??

#check whether Maserati in cars set
print(??)

#if not, add maeserati to cars
cars.??("Maserati")

#remove Kia from the set
cars.??("Kia")

#create tuple of vegetables
vegetables = ??"potato", "celery", "onion", "potato", "celery", "leek"??

#how many potatoes are there in the tuple?
print(vegetables.??("potato"))

#find the length of the tuple
print(??(vegetables))

<a id = "CH4"></a>

## Challenge 4

Follow the comments to produce the final outcome:

In [ ]:
#Create a dictionary of dictionaries
#Call the main dictionary employees
#give each sub dictionary the key of a name i.e. Joe, Jade, Mary
#Have keys age, job, experience and languages as keys within each dictionary
#use the languages as a list to list programming languages they use


#print the first persons experience job from the dictionary

#print how may languages the third person knows


#Add a new employee with the follownig information:
# name - "Jennie"
# "Age":22
# "Job":"Intern"
# "Experience":1
# "Languages":["Python", "SQL"]


#add Ruby as a language to the second persons languages


#print the resulting dictionary

<a id = "CH5"></a>

## Challenge 5

Follow the comments to produce the final outcome:

In [ ]:
# Create a list of scores containing 12, 33, 58, 12, 67, 80, 92, 15, 58 called scores

#print the length of the scores


#convert the list to a set called unique_scores


#print the length of unique_scores


#create a new set of scores containing 12, 45, 68, 70, 33, 100 called second_scores


#create a new set called scores_intersection that contains duplicates from both sets created

#print it out


#create a new set called scores_differences that extracts differences in the sets called scores_differences

#print out the results

<a id = "CH6"></a>

## Challenge 6

Follow the comments to produce the final outcome:

In [ ]:
#Create a list called capitals with New york, London, Beijing, Sao Paulo, Paris in


#create a list called countries with USA, England, China, Brazil and France in


#create a list call populations with 8.4, 9.0, 21.5, 12.3, 2.2 in


#join these lists into a dictionary called cities with keys: capitals, countries, populations


#use this to find out the population of Paris based on the index of paris within the cities key:value pair
#without using the index value


#use this to find out the country with a capital that has a population of 21.5 million people 
#without using the index value


#print out the city, country and population for the city with a populatio of 2.2 without using the index value